body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FFA07A; /* Light orange color */
    background-image: url('sudoku_bg.jpg'); /* Optional */
    background-size: cover;
    color: #333;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background: #FFFFE0; /* Light yellow color */
    display: inline-block;
    border-radius: 10px;
    border: 5px solid #DAA520; /* Darker golden border */
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2); /* Stronger shadow for more depth */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    max-width: 180%; /* Double the size */
    margin-top: 10px; /* Adjust the distance from the upload box */
    border-radius: 5px; /* No border anymore */
}

.upload-box {
    margin-bottom: 20px; /* Add space below the upload box */
}
