<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solution</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Merriweather&family=Cormorant+Garamond&family=Lora&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/" class="back-button">Upload Another Sudoku</a>

    <div class="grid-container">
        <div class="image-container">
            <h3>Uploaded Image</h3>
            <div class="image-box">
                <img src="{{ url_for('main.get_debug_image', step_name='Original_Image') }}" alt="Uploaded Sudoku">
            </div>
        </div>
        <div class="image-container">
            <h3>Processed Image</h3>
            <div class="image-box">
                <img src="{{ url_for('main.get_debug_image', step_name='Warped_Sudoku_Board') }}" alt="Warped Image">
            </div>
        </div>
        <div class="image-container">
            <h3>Sudoku After Digital Recognition</h3>
            <div class="image-box">
                <img src="{{ url_for('main.get_debug_image', step_name='Unsolved_Board') }}" alt="Unsolved Sudoku">
            </div>
        </div>
        <div class="image-container">
            <h3>Solved Sudoku</h3>
            <div class="image-box">
                <img src="{{ url_for('main.get_debug_image', step_name='Solved_Board') }}" alt="Solved Sudoku">
            </div>
        </div>
    </div>
</body>
</html>
